@import 'mixins';
@import 'variables';

html{
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Tahoma', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 144rem;
  height: 100%;
  margin: auto;
  padding: 1.5rem 0;
}

.oh {
  overflow: hidden;
}