meta(charset="UTF-8")

//- Titles
title Новый проект
meta(name="description" content="")
meta(name="keywords" content="")

//- Adaptive
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

//- Styles
link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/css/main.css")
link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/fonts/fonts.css")

//- Favicons
link(rel="icon" href="#!" type="image/x-icon") 
link(rel="shortcut icon" href="#!"  type="image/x-icon")
link(rel="apple-touch-icon" href="#!")

//- Scripts
script(src="./wp-content/themes/twentytwenty-child/js/main.js" defer)